#Report {
  background-color: #190f39;
  height: 100%;
  overflow-y: auto;

  * {
    font-family: "MyFont", sans-serif !important;
  }

  .report-header {
    font-weight: 700;
  }
  .report-desc {
    font-size: 12px;
    line-height: 1.4;
  }

  .widget {
    background: rgb(42, 35, 90);
    background: linear-gradient(
      135deg,
      rgba(42, 35, 90, 1) 0%,
      rgba(21, 13, 43, 1) 100%
    );
    padding: 1rem;
    border-radius: 10px;
  }
  #chart {
    position: sticky;
    top: 0;

    @media screen and (max-width: 767px) {
      position: static;
    }
    @media screen and (min-width: 767px) {
      border-left: 10px solid #190f39;
    }
  }
}
